@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap'); */

:root {
    --text: hsla(0, 1%, 20%, 1);
    --pink: hsl(342, 100%, 84%);
    --green: hsl(59, 55%, 30%);
    --light-green: hsla(69, 25%, 85%, 1);
    --orange: hsla(14, 77%, 54%, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: var(--orange);
    /* max-width: 1000px; */
    margin: 0 auto;
}

body > * {
    padding: 0 100px;
}

header {
    /* background-color: var(--pink); */
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: auto auto;
    align-items: center;
}

header img {
    max-width: 200px;
    border-radius: 100%;
    border: 3px solid var(--green);
}

#today {
    text-align: center;
    background-color: var(--green);
    padding: 15px;
    color: var(--light-green);
}

nav {
    background-color: var(--pink);
    padding: .5em;
}

nav a {
    color: var(--green);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--light-green);
    color: var(--green);
    border-bottom: 3px solid var(--orange);
    /* box-shadow: 5px 5px var(--pink); */
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: var(--light-green);
    list-style-type: none;
}

nav a {
    padding: .5em 1.5em;
    text-transform: uppercase;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    background-color: var(--light-green);
}

#timeline li {
    list-style-type: none;
}

#timeline li {
    margin-bottom: 20px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    cursor: pointer;
}

details:hover {
    background-color: rgb(215, 215, 215);
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

time {
    padding: .5em;
    background-color: var(--orange);
    margin-right: .5em;
}